html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:auto;
}

.container{
    height:80%;
    width: 44%;
	padding-top:20px;
}

.alert{
margin-bottom:0;
}

.alert-info {
    color: white;
    background-color: #424242;
    border-color: #424242;
    width: 100%;
	font-size:1.8vw;
}
.progress{
height:25px;
}

.progress-bar{
background-color: #e9e9e9;
}

.ui-widget-header{
border:none;
}

.row {
     margin-right: 0px; 
     margin-left: 0px; 
     border: #DCDCDC solid 2px;
    float: left;
	width:100%;
}

.arrow{
   width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid  #424242;
    float: right;
    margin-right: 10%;
}

.red{
    color: #F15E33;
    font-weight:bold;
}

.grey{
    color:#868686;   
    font-weight:normal;
}

.col-xs-4 {
    margin-top: 1px;
    padding-bottom: 5px;
}

.col-sm-4{
    border: black solid 1px;
    border-radius: 4px;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 1.6vw;
	margin-left:10%;
	height: 8%;
	margin-left:5%;
	border: grey solid 1px;
}

.col-md-4{  
    border-radius: 4px;
    vertical-align: middle;
    padding-top: 5px;
    font-size: 1.6vw;
    margin-left: 10%;
    border: grey solid 1px;
	height:10%
}

.text-line{
    font-size: 1.8vw;
    font-family: fedra serif;
    width: 78%;
    word-spacing: 5px;
    float: left;
    margin-left: 7.8%;
    margin-top: 2%;
}

.main-content-text{
    height: 50%;
    width: 100%;
    float: left;
	border:black solid 1px;
}

.green{
   background-color: #00BE1C;
   border:#00BE1C;
   text-align:center;
   cursor:pointer;
}

.msg-text{
    font-size:1.8vw;
    font-weight:bold;
    color:white;
    text-align:center;
    float:left;
    margin-left:10%;
    height: 50%;
    margin-top: 3%;
    margin-left: 9.9%;
}

.normal-text{
    font-weight:normal;
    margin-left:1%;
    word-spacing:5px;
}

.main-content-msg{
    width: 47%;
    float: left;
    color: #0EA0D6;
    font-style: italic;
    font-family: fedra serif;
    margin-left: 8%;
    font-size: 1.8vw;
    margin-top: 3%;
}

.share-text,.save-text{   
    text-align:center;
    font-size:1.8vw;
    float:left;
    font-family:fedra serif;
    color:#777777;
    margin:10%;
    margin-top:2%;
    font-weight:bold;   
	padding-left:10%;
	position:relative;
}

.save-share-container{
    float:left;
	width:100%;
	position:relative;
}

/*ui-icon-closethick {
    background-image: url('../Images/grey-cross.gif')!important;
}*/

.dialog{
    text-align:center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: left;
    margin-left: 43%;
}

.currency{
    color:#828282;
    font-weight:bold;
    margin-top:10%;
    font-size:30px;
    font-family:fedra serif;
    margin-left:10%;
    float:left;
}

.darkgrey{
    color:#424242;
    margin-left:5%;
}

input{
    margin-top:10%;
    margin-left:3%;
    float:left;
    width:30%;
    cursor:pointer;
    height:30%;
}

.save-share-content{
    margin-top: 4%;
    border:  #DCDCDC solid 2px;
    height: 10%;
    width: 45.6%;
    float: left;
    border-radius: 8px;
    margin-right: 7.23%;
    background-color:#FAFAFA;
	position:relative;
}


 .fb-twitter-share {
    display: none;
    position: relative;
    height: 40px;
    width: 78px;
    float: right;
    margin-right: 16%;
    z-index: 100;
    
}

.fb-share,.twitter-share{
z-index:100;
float:left;
}




